<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>System Monitor</title>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.4.0/chart.min.js"></script>
    <script src="/static/chart.js"></script>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
<h1>Sysmon - Server - Overview</h1>
{% for client in clients %}

    {% if client.name in alive %}

        <h2 class="client" id="alive_client">{{ client.name }} <span
                class="status_circle" id="alive_client"></span></h2>

    {% endif %}

    {% if client.name not in alive %}

        <h2 class="client" id="dead_client">{{ client.name }} <span
                class="status_circle" id="dead_client"></span></h2>

    {% endif %}

    <div class="flex-container">

        <div class="chart-container flex-child">
            <canvas id="chart_{{ client.name }}"></canvas>
        </div>

        {% if client.name in task.clients %}
            <div class="task-information flex-child">
                <h3>{{ task.name }}</h3>
                <p><b>Command:</b> <i>{{ task.command }}</i></p>
                <p><b>Status:</b> {{ task.status }}</p>
            </div>
        {% endif %}

    </div>

    <script>
        render_chart({{ client.json | tojson }})
    </script>
{% endfor %}
</body>

</html>
